.title-1{
    background-color: blueviolet;
    border-radius: 800px;
    font-family: 'Courier New', Courier, monospace;
}
.subtitulo-1{
    background-color: blueviolet;
    font-family:'Courier New', Courier, monospace
}
.texto-1{
    background-color: blueviolet;
    font-family:'Courier New', Courier, monospace
}
