ol{
  color:rgb(216, 114, 11);
  background-color: rgb(14, 234, 205);
  width: 1650px;
  height: 3100px
}
.titulo-1 { 
    background-color: rgb(255, 194, 204);
    color: purple;
    width: 1690px;
    height: 36px;
    border-radius: 800px;
}